.App {
  text-align: center;
  background: #ea9356;
}

.App h1 {
  margin: 0;
  padding: 1em 0;
}

a {
  text-decoration: none;
  color: #000;
}


.cart {
  display: flex;
  justify-content: space-evenly;
  padding: 3em 0;
}

.product {
  flex: 0 0 20%;
  background: #fff;
  padding: 10px;
}

.product img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

p.product-title {
  font-size: 22px;
  /* font-weight: 800; */
}

p.product-description {
  font-size: 11px;
}

p.product-price {
  color: #00BCD4;
  font-weight: 800;
}